@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);

body {
	text-align: center;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 22px;
	color: #363636;
	background-color: #5082b3;
}

#container {
	width: 960px;
	margin: 0 auto;
	background-color: #ffffff;
}

#heading {
	padding-top: 50px;
}

h1, #heading p {
	margin: 0;
}

h2 {
	margin: 0.63em auto 0.24em auto;
}

#map-canvas {
	width: 100%;
	height: 640px;
	padding: 0;
	margin: 0 auto;
}

div[id^="map-infowindow"] {
	margin: 6px 4px;
	display: inline-block;
	line-height: 1.15;
	text-align: left;
}

div[id^="map-infowindow"] a {
	color: #003466;
	text-decoration: none;
}